#utils
pip
pytest

# web
flask

# db
sqlalchemy
# psycopg2

#manipulation
pandas
numpy

#statistical testing and modeling
scipy
statsmodels

# modeling
scikit-learn

# visualization
matplotlib
seaborn
plotly
altair

# utils
pyyaml

# docs
sphinx
sphinx_rtd_theme