#util
jupyterlab_tabnine

# explanability
# eli5
# lime
shapash
explainerdashboard

# drift detection
evidently
mljar-mercury

# model tracking
mlflow
mlflow[pipelines]
mlflow[extras]

# modeling
xgboost

# dimensionality reduction
umap-learn

#viz
wordcloud

# api
fastapi

# db
duckdb

# fs
feast

# eda
dtale