#util
jupyterlab_tabnine

# explanability
eli5
lime
shap
Shapely
shapash
# explainerdashboard==0.3.8.2
explainerdashboard

# drift detection
# evidently==0.1.53.dev0
evidently
mljar-mercury

# model tracking
mlflow
mlflow[pipelines]
mlflow[extras]

# modeling
xgboost

# dimensionality reduction
umap-learn

#viz
wordcloud
# dash-bootstrap-components

# api
fastapi

# db
duckdb

# fs
feast

# eda
dtale

# DAGs
dagster
dagster-graphql
dagit